index.vtl

<h1>Create Your Contacts</h1>

<form action="/contacts" method="post">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input id="firstName" name="firstName" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input id="lastName" name="lastName" type="text" class="form-control">
  </div>

  <button type="submit" class="btn btn-success">Add Contact</button>
</form>
